@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');

* {
    color: darkslategrey;
    background-color: beige;
    font-family: 'Coming Soon', cursive;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex: 0 80px;
}

main {
    flex: 1 calc(100vh - 110px);
}

footer {
    flex: 0 30px;
}

/*might need to go one step further into container*/
.nav-item:hover {
    text-decoration: underline;
}
.navbar {
    font-weight: bold;
}

.goalsLayout{
    display:flex;
    flex-direction: row;
}


#repImage {
    width: 35px;
    height: 35px;
}

/*stuff for home page*/
#projectListHeader {
    font-size: x-large;
    font-weight: bold;
    color: darkslategray;
}
#friendsListHeader {
    font-weight: bold;
    font-size: x-large;
    color: darkslategray;
}

.homeLayout{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#dashboard{
    display:grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: 190px;
    gap:10px;
    justify-content: center;
    align-items: center;
}
#profileSettings{
    display:flex;
    justify-content: start;
    align-items: baseline;
}
#profile{
    width:200px;
}
#pinPlace{
    width:150px;
    height:150px;
    justify-content:center;
    align-items:center;
}

#projectList{
    border: dashed medium turquoise;
}
#friendList{
    border-top: double thick brown;
    border-bottom: double thick brown;
}

@media (max-height:600px){
    footer{
        display: none;
    }
}

@media (max-width:700px) {
    .goalsLayout{
        flex-direction: column;
    }
    .homeLayout{
        flex-direction: column;
    }
    #dashboard{
        flex-direction: column;
    }
}
