@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');

* {
    color: darkslategrey;
    background-color: beige;
    font-family: 'Coming Soon', cursive;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex: 0 80px;
}

main {
    flex: 1 calc(100vh - 110px);
}

footer {
    flex: 0 30px;
}

/*might need to go one step further into container*/
.nav-item:hover {
    text-decoration: underline;
}
.navbar {
    font-weight: bold;
}

.goalsLayout{
    display:flex;
    flex-direction: row;
}

#repImage {
    width: 35px;
    height: 35px;
}

/*stuff for home page*/
#projectListHeader {
    font-size: x-large;
    font-weight: bold;
    color: darkslategray;
}
#friendListHeader {
    font-weight: bold;
    font-size: x-large;
    color: darkslategray;
}
#friendListItem{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friendName {
    background-color: white;
    padding:3px;
    font-size:large;
    color: black;
    margin-right:1rem;
}

.homeLayout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*
#dashboard{
    display:grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: 190px;
    gap:10px;
    justify-content: center;
    align-items: center;
}
*/
#profileSettings{
    display:flex;
    justify-content: start;
    align-items: baseline;
}
#profile{
    display: flex;
    flex-direction: row;
    padding-left:4rem;
    border-top: solid thin darkgrey;
    border-bottom: solid thin darkgrey;
}
/*
#pinPlace{
    width:150px;
    height:150px;
    justify-content:center;
    align-items:center;
}
*/
#projectList{
    border: dashed medium turquoise;
}
#friendList{
    border-top: double thick brown;
    border-bottom: double thick brown;
}


/*stuff for workbench*/
#projectControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#projectTitle {
    display: flex;
    margin:1em;
}
#projectTitleEdit {
    display:flex;
    flex-direction:row;
    margin:1em;
}
#editProjectName {
    height:30px;
}
#projectSettings {
    display: flex;
    margin:1em;
    align-items: center;
}

#workAreaHome {
    padding:0;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: center;
    height:75%;
}
#workArea {
    background-color: white;
    width:90%;
    height:100%;
    border: solid thin darkgrey;
    display: flex;
    flex-direction:row;
}

#displayArea {
    flex:1.2;
}
#toolbar {
    background-color: white;
    border-bottom: solid thin darkslategrey;
    padding: 3px;
    height:11%;
}

#building-block-stage {
    padding:5px;
    display:grid;
    grid-template-columns: repeat(auto-fill, 110px);
    grid-auto-rows: 160px;
    gap:20px;
    height:89%;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow-y:scroll;
}
#building-block {
    width: 110px;
    height: 160px;
    border: solid thin darkgrey;
    justify-content: space-between;
}
#bb-label-person {
    align-self: left;
    display:flex;
    justify-content: space-between;
    background-color:darkturquoise;
    color: black;
    padding-left:3px;
    padding-top:3px;
    border-radius:8%;
}
#bb-label-element {
    align-self: left;
    display:flex;
    justify-content: space-between;
    background-color: dimgray;
    color: white;
    padding-left:3px;
    padding-top:3px;
    border-radius: 8%;
}
#bb-tags {
    background-color: beige;
    border-top: solid thin darkgrey;
    color:black;
    font-size: small;
    max-height: 50px;
    border-radius: 10%;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
#editCardBtn {
    width:25px;
    height:25px;
}
#saveBlockBtn {
    width:25px;
    height:25px;
}
#deleteBlockBtn {
    width:25px;
    height:25px;
}
#connectBtn{
    border-radius:0%;
    border: solid thin black;
    max-height: 25px;
    align-items: center;
    font-size: small;
    color: black;
}

#editArea{
    flex:0.8;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    border-left: solid thin darkslategray;
}
#editArea h4 {
    background-color: white;
    padding:2px; 
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}


@media (max-height:600px){
    footer{
        display: none;
    }
}

@media (max-width:700px) {
    .goalsLayout{
        flex-direction: column;
    }
    .homeLayout{
        flex-direction: column;
    }
    #dashboard{
        flex-direction: column;
    }
    #workArea{
        flex-direction: column;
    }
}
