#project-content {
    flex: 1;
}

#project-cards {
    flex: 1;
    display: grid;
    grid-auto-rows: 280px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

#project-card {
    margin:10px;
    width: 180px;
    height: 250px;
}
#project-card-new {
    margin:10px;
    width: 180px;
    height: 250px;
}
#card-img {
    align-self: center;
    justify-self: center;
    max-height:75px;
    min-height: 75px;
}

.card-body {
    width:180px;
    height:250px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}
.card-text {
    font-size: small;
    overflow:hidden;
    text-overflow: ellipsis;
    border: solid;
    border-radius:10%;
    border-width: 1px;
    padding:2px;
    min-width: 160px;
    max-width:160px;
    min-height:20px;
}

#card-footer {
    display: flex;
    flex-direction: row;
    justify-self: end;
}


